Source: stsbl-iserv-file-distribution-bridge-lock
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 9), iserv3-dev, iserv3-dev
Standards-Version: 3.9.5

Package: stsbl-iserv-file-distribution-bridge-lock
Architecture: all
Depends: iserv-portal
Description: Dateiverteilung für IServ - Rechnersperre-Datenbankbrücke
 Ermöglicht es dem Dateiverteilungsmodul Informationen über die Rechnersperre abzurufen und anzuzeigen.
